[submodule "ng-submodule-one"]
	path = ng-submodule-one
	url = https://github.com/lawl-design/ng-submodule-one.git
[submodule "ng-submodule-two"]
	path = ng-submodule-two
	url = https://github.com/lawl-design/ng-submodule-two.git
